<div class="footerbar">
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="footerbar-copyright">
					Slick is open source and available under a <a href="https://github.com/slick/slick/blob/master/LICENSE.txt">BSD-style license</a><br>
					&copy; 2011 - 2024, The Slick committers  | 
					<a href="https://www.lightbend.com/legal/privacy">Privacy Policy</a> | 
					<a href="https://www.lightbend.com/legal/cookie">Cookie Listing</a> | 
					<a class="optanon-toggle-display">Cookie Settings</a>
				</div>
				<img src="{{ site.baseurl }}/resources/images/slick-logo-sm.png"/>
			</div>
		</div>
	</div>
</div>
