<!DOCTYPE html>
<html>
  <head>

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="icon" type="image/png" href="{{ site.baseurl }}/resources/favicon.ico">

    <!--Google fonts API-->
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/smoothness/jquery-ui-1.8.22.custom.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/prettify.css" type="text/css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/resources/stylesheets/base.css" type="text/css" />

    <!-- Jquery -->
    <script src="{{ site.baseurl }}/resources/javascript/jquery.js" type="text/javascript" ></script>

    <!-- OneTrust Cookies Consent Notice (Production CDN, lightbend.com, en-US) start -->
    <script src="https://cdn.cookielaw.org/consent/ae5fff26-6829-4430-a8ae-e7efb10d58bf.js" type="text/javascript" charset="UTF-8"></script>
    <script type="text/javascript">
      function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice (Production CDN, lightbend.com, en-US) end -->

    <!-- prettyprint js to prepend generated pre/code tags -->
    <script type="text/javascript">
      function styleCode() {
          if (typeof disableStyleCode != "undefined") {
              return;
          }
          $("pre code").parent().each(function() {
              if (!$(this).hasClass("prettyprint")) {
                  $(this).addClass("prettyprint lang-scala linenums");
              }
          });
          prettyPrint()
      }
    </script>
    
    {% if page.url == "/index.html" %}
      <link rel="stylesheet" href="{{ site.baseurl }}/resources/vendor/mediaelement/2.13.1/mediaelementplayer.min.css" type="text/css" />
      <link rel="stylesheet" href="{{ site.baseurl }}/resources/vendor/mediaelement/2.13.1/mejs-skins.css" type="text/css" />
      <script src="{{ site.baseurl }}/resources/vendor/mediaelement/2.13.1/mediaelement-and-player.min.js"></script>
      <script>
          $(function() {
              new MediaElementPlayer('video')
          })
      </script>
    {% endif %}
