{% for p in site.posts limit: 2 %}
	<div class="news-item">
		<div class="news-date">{{ p.date | date: "%b %d %Y" }}</div>
		{% if p.link-out %}
			<div class="news-title"><a href="{{ p.link-out }}">{{ p.title }}</a></div>
		{% else %}
			<div class="news-title"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.title }}</a></div>
		{% endif %}
		{% if p.short %}
			<div class="news-body">{{ p.short }}</div>
		{% else %}
			<div class="news-body">{{ p.content | strip_html | truncatewords: 30 }}</div>
		{% endif %}
	</div>
{% endfor %}