<div class="topbar">
	<div class="container">
		<div class="row">
			<div class="span4">
				<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/resources/images/slick-logo.png"/></a>
			</div>
			<div class="span8">
				<nav class="mainnav">
					<ul class="frontpage-nav">
						<li><a href="{{ site.baseurl }}/download">Download</a></li>
						<li><a href="{{ site.baseurl }}/docs">Documentation</a></li>
						<li><a href="{{ site.baseurl }}/community">Community</a></li>
					</ul>
				</nav>
			</div>		
		</div>		
	</div>
</div>