---
---
/* Base stylesheet, also overrides bootstrap */
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #103a51;
  font-size: 16px;
  line-height: 1em;
  font-style: normal;
  font-weight: 400;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
  text-rendering: optimizeLegibility;
 }
a {color: #19aacf; }
a:link {color: #19aacf; }
a:visited { color: #19aacf; }
a:hover { color: #D64546; }
a:active { color: #19aacf; }

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #103a51;
}

h1 a {color: #103a51; }
h1 a:link {color: #103a51; }
h1 a:visited { color: #103a51; }
h1 a:hover { color: #103a51; }
h1 a:active { color: #103a51; }




p {
  font-size: 1em;
  line-height: 1.45em;
  margin: 0 0 1em 0;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}


.topbar {
  background: #ffffff;
  height: 75px;
  border-top: 5px solid #2E6D82;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.3);
  position: fixed;
  z-index: 100;
  width: 100%;
 }
.topbar .logo {
  height: 40px;
  margin-top: 16px;
}

nav.mainnav{
  margin: 0;
  float: right;
  border-right: 1px solid #ebebeb;
}

nav.mainnav a {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 1.0em;
  text-transform: uppercase;
  display: block;
  float: left;
  height: 75px;
  line-height: 80px;
  padding: 0 30px;
  color: #2E6D82;
  border-left: 1px solid #ebebeb;
  font-weight: bold;
  letter-spacing: -.03em;
  font-size: 14px;
  transition: all 200ms ease-in-out;
}
nav.mainnav>a:hover {
  background: #f5f5f5;
  text-decoration: none;
  box-shadow: inset 0 4px 0 #2E6D82, inset 0 0 3px #ebebeb;
  transition: all 200ms ease-in-out;
}


.main {
  background: #2E6D82;
  padding: 120px 0 40px 0;
  text-align: center;
}
.main h1 {
  color: #ffffff;
  text-transform: none;
  font-weight: 300;
  font-size: 40px;
  margin-bottom: 20px;
}
.box {
  text-align: center;
}
.box img {
  width: 150px;
  height: 150px;
}

.box h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  background: #F16665;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 0 20px 10px 20px;
}

.box p {
  color: #ffffff;
  margin: 0 20px;
}


.fw-wrapper {
  width: 100%;
}
.page-title {
  width: 100%;
  background: #2E6D82;
  padding: 120px 0 40px 0;
}
.page-title h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
}



.main-content {
  padding: 40px 0 80px 0;
}


.news-item { margin-bottom: 14px; font-size: 13px; line-height: 18px; }
.news-date { display: inline; font-size: 14px; font-weight: 500; line-height: 16px; color: #D64546; text-rendering: optimizeLegibility; }
.news-title {  font-size: 20px; font-weight: bolder; line-height: 24px; margin-bottom: 4px; text-rendering: optimizeLegibility;}
.news-title a { color: #19aacf; /*text-shadow:1px 1px 0 rgba(255, 255, 255, 0.6)*/ }
.news-title a:hover { color: #D64546; text-decoration: none; }
.news-author {  color: rgba(0,0,0,0.4); text-transform: uppercase; margin-top: 6px; margin-bottom: 8px; font-weight: bold; font-size: 14px; text-rendering: optimizeLegibility;}

a.scroll { color: #D64546; }
div#toc { margin-left: -16px; }
div#toc ul { list-style: none; margin: 0 0 5px 16px; }
div#toc ul li { padding-bottom: 8px; line-height: 105%; font-weight: bold; width: 100%; }
div#toc ul li ul li a { color: #19aacf;}
div#toc ul ul { list-style: disc; }
div#toc ul ul ul { list-style: square; }
div#toc ul li ul li { padding-bottom: 0px; line-height: 18px; font-weight: normal; }
div#scroller-anchor { width: inherit; }
div#scroller { width: inherit; }
div#scroller p { color: #103a51; text-transform: uppercase; margin-top: 16px; margin-bottom: 8px; font-weight: bold; line-height: 27px; font-size: 18px; text-rendering: optimizeLegibility; }

.frontpage-nav li { display: inline; list-style-type: none; }



.upper-footer {
  background: #406174;
}

body .support-strip .row{
  background: #406174;
}

.support-item {
  display: inline-block;
  margin: 40px 60px 40px 0;
}
.support-icon {
  display: inline-block;
  margin-right: 10px;

}

.support-icon .svg-icon {
  width: 50px;
  height: 50px;
}
.support-detail {
  display: inline-block;
  min-height: 50px;
  vertical-align: top;
  text-align: left;
}
.support-detail h2 {
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 6px 0 0 0;
  padding: 0;
  width: auto;
  background-color: transparent;
  font-weight: 700;
  line-height: 1.1em;

}
.support-detail a {
  color: #c2d2dc;
  margin: 0;
  padding: 0;
  margin-right: 6px;
  font-size: 16px;
  text-decoration: none;
}
body .support-detail a:hover {
  color: #ffffff;
  text-decoration: underline;
}


.lower-footer {
  background: #103a51;
}


/* footer */
.lower-footer {
  z-index: 10;
  padding-top: 36px;
  padding-bottom: 30px;
  width: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  font-size: 12px;
}
.lower-footer a {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-right: 10px;
}

.lower-footer a:link,.lower-footer a:visited,.lower-footer a:hover,.lower-footer a:active {
  color: #ffffff;
}
.lower-footer .ts  {
  vertical-align: middle;

}
.lower-footer .ts img {
  height: 20px;
  margin-left: 10px;

}
.lower-footer .slick  {
  vertical-align: middle;
  text-transform: uppercase;
}
.lower-footer .slick a {
  font-size: 14px;
  font-weight: 700;
}
.lower-footer .slick img {
  height: 20px;
}

.lower-footer p.legal {
  font-size: 13px;
  text-transform: none;
  color: #c2d2dc;
}
.lower-footer p.legal a {
  font-size: 13px;
  text-transform: none;
  color: #c2d2dc;
}


.flex-video {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background: #f0f3f6;
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 57.25%;
  height: 0;
  overflow: hidden;
}
.flex-video.fourbythree {
    padding-bottom: 67.5%;
}
.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed,
.flex-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel {
  background-color: #ffffff;
  border-radius: 3px;
  border-bottom: 2px solid #c2d2dc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.twtr-widget {
  margin-top: 3em;
  /*border: 1px solid #c0c0c0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;*/
  -webkit-box-shadow: 0px 1px 2px #666;
  -moz-box-shadow: 0px 1px 2px #666;
  -o-box-shadow: 0px 1px 2px #666;
  box-shadow: 0px 1px 2px #666;
  border-radius: 6px;
  width: 698px;
  border: 1px solid #a0a0a0;
}

.main-content .twtr-widget h3 {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
  text-transform: none;
}

#example-tabs {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));
  background: -moz-linear-gradient(top, #fff, #f4f4f4);
  background: -o-linear-gradient(top, #fff, #f4f4f4);
  background: linear-gradient(top, #fff, #f4f4f4);
  -webkit-box-shadow: 0px 1px 2px #666;
  -moz-box-shadow: 0px 1px 2px #666;
  -o-box-shadow: 0px 1px 2px #666;
  box-shadow: 0px 1px 2px #666;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  margin-bottom: 2em;
}

#example-tabs .ui-tabs-panel {
  padding: 4px 0 0 0;
}

#example-tabs p {
  margin: 1em;
}

#example-tabs pre.prettyprint {
  -webkit-box-shadow: 0 0 0 #666;
  -moz-box-shadow: 0 0 0 #666;
  -o-box-shadow: 0 0 0 #666;
  box-shadow: 0 0 0 #666;
  border-radius: 0;
  border: 0;
  margin: 0;
  background: transparent;
}

#example-tabs .ui-tabs-nav a:focus { outline: none; }

#example-tabs .ui-tabs-nav a {
  font-size: 16px;
  color: #606060;
  padding: 0.4em 0.8em;
}

#example-tabs .ui-tabs-nav .ui-state-active a {
  color: #202020;
}

#example-tabs .ui-widget-content a { color: rgba(218,56,48,0.9); }
#example-tabs .ui-widget-content a:hover { color: rgba(249,141,51,1); }
#example-tabs .ui-widget-content a:visited { color: rgba(149,73,87,1); }

/*
#example-tabs .ui-widget-header  {
  background: -moz-linear-gradient(top, rgb(249,141,51), rgb(218,56,48));
}
*/

div.main-content div.row > div.span8 { width: 580px; padding-right: 40px; }
div.main-content div.row > div.span9 { width: 660px; padding-right: 40px; }
